@font-face { 
	font-family: 'CNNSansBlack';
	src: url('[[font:theme|CNNSansDisplayW04-Black.eot]]');
	src: url('[[font:theme|CNNSansDisplayW04-Black.eot]]') format('embedded-opentype'),
		url('[[font:theme|CNNSansDisplayW04-Black.woff]]') format('woff'),
		url('[[font:theme|CNNSansDisplayW04-Black.woff2]]') format('woff2'),
		url('[[font:theme|CNNSansDisplayW04-Black.ttf]]') format('truetype'),
		url('[[font:theme|CNNSansDisplayW04-Black.svg]]') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face { 
	font-family: 'CNNSansMedium';
	src: url('[[font:theme|CNNSansDisplayW04-Medium.eot]]');
	src: url('[[font:theme|CNNSansDisplayW04-Medium.eot]]') format('embedded-opentype'),
		url('[[font:theme|CNNSansDisplayW04-Medium.woff]]') format('woff'),
		url('[[font:theme|CNNSansDisplayW04-Medium.woff2]]') format('woff2'),
		url('[[font:theme|CNNSansDisplayW04-Medium.ttf]]') format('truetype'),
		url('[[font:theme|CNNSansDisplayW04-Medium.svg]]') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face { 
	font-family: 'CNNSansRegular';
	src: url('[[font:theme|CNNSansDisplayW04-Regular.eot]]');
	src: url('[[font:theme|CNNSansDisplayW04-Regular.eot]]') format('embedded-opentype'),
		url('[[font:theme|CNNSansDisplayW04-Regular.woff]]') format('woff'),
		url('[[font:theme|CNNSansDisplayW04-Regular.woff2]]') format('woff2'),
		url('[[font:theme|CNNSansDisplayW04-Regular.ttf]]') format('truetype'),
		url('[[font:theme|CNNSansDisplayW04-Regular.svg]]') format('svg');
	font-weight: normal;
	font-style: normal;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
}
@keyframes flip {
	0% {
		transform: rotate3D(0, 0, 0, 0deg);
	}
	50% {
		transform: rotate3D(1, 0, 0, 180deg);
	}
	100% {
		transform: rotate3D(0, 0, 1, 180deg);
	}
}
a {
	color: unset;
}
.academyLoader {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	perspective: 1000px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 10000;
}
body {
	font-family: 'CNNSansRegular';
}
[data-region="drawer"] {
	height: 100%;
}
.fadeIn {
	animation: fadeIn 1s;
}
.fadeOut {
	animation: fadeOut 1s;
}
footer {
	background-color: #18191A;
	color: white;
	transition: transform 0.5s;
}
footer .drawerOpen {
	transform: translate3d(280px, 0, 0);
}
.list-group-item.active {
	background-color: #6c757d;
	border-color:#6c757d;
}
#loaderBox {
	animation: flip 1.5s infinite;
	background-color: #CA0000;
	height: 100px;
	width: 100px;
}
.loginLogo {
	max-height: 100px;
}
#page.loggedIn {
	margin-top: 105px;
}
#page.loggedOut {
	margin-top: 0;
}
#page-footer a {
	color: inherit;
	text-decoration: inherit;
}
#page-footer a:hover {
	text-decoration: underline;
}
.aabtn.focus, .btn-link.focus, .nav-link.focus, .atto_link_button.focus, [role="button"].focus, .list-group-item-action.focus, input[type="checkbox"].focus, input[type="radio"].focus, input[type="file"].focus, input[type="image"].focus, .sr-only-focusable.focus, a.dropdown-item.focus, a.dropdown-toggle.focus, .modal-dialog[tabindex="0"].focus, .moodle-dialogue-base .closebutton.focus, button.close.focus, .aabtn:focus, .btn-link:focus, .nav-link:focus, .atto_link_button:focus, [role="button"]:focus, .list-group-item-action:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, input[type="file"]:focus, input[type="image"]:focus, .sr-only-focusable:focus, a.dropdown-item:focus, a.dropdown-toggle:focus, .modal-dialog[tabindex="0"]:focus, .moodle-dialogue-base .closebutton:focus, button.close:focus {
	box-shadow: 0 0 0 0.01em rgba(20,46,65,.75);
}