#academyGridSettings h3 {
	line-height: 2;
}
.academyTagsContainer span {
	background-color: #ced4da;
	border-radius: 5px;
	margin: 0 0.5em 0.25em 0;
	padding: 5px 10px;
}
.academyTagBtn {
	color: white;
	opacity: 0.5;
}
.academyTagBtn:hover {
	color: white;
	opacity: 1;
}
button.disabled {
	cursor: not-allowed;
}
.carouselAdminItem {
	margin: 1em 0;
	position: relative;
}
.carouselAdminItem img {
	height: 75px;
	max-width: 100%;
}
.chrome-picker {
	box-shadow: none !important;
}
.form-defaultinfo {
	display: none !important;
}
.form-label {
	display: none !important;
}
.gridItemBtn {
	align-items: center;
	background-color: white;
	border: solid lightgray 1px;
	border-radius: 1.5em;
	display: flex;
	height: 1.5em;
	justify-content: center;
	position: absolute;
	top: -0.5em;
	width: 1.5em;
	z-index: 1000;
}
.gridItemBtnClose {
	right: -0.5em;
}
.gridItemBtnEdit {
	right: 1.25em;
}
.gridItemBtn button {
	background-color: unset;
	border: unset;
	border-radius: 1.5em;
}
.image {
	height: 90px;
}
.imageContainer {
	margin: 1em;
}
.imagesInnerContainer {
	height: 90vh;
	left: 5%;
	position: fixed;
	top: 5%;
	width: 90vw;
	z-index: 100001;
}
.imagesOuterContainer {
	background-color: #00000088;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 100000;
}
.instructorsTable a {
	color: inherit;
}
.offset-sm-3 {
	margin-left: unset;
}
.table td, .table th {
	vertical-align: middle;
}
.unsavedAlert {
	position: fixed;
	right: 35px;
	top: 100px;
	z-index: 1000;


}