@media (min-width: 1500px) {
	.col-xxl-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
}
.__react_component_tooltip {
	padding: 2px 7px !important;
	visibility: hidden;
}
.academyTagsContainer {
	margin-bottom: -0.25em;
}
.academyTagsContainer button {
	background-color: #ced4da;
	border: none;
	border-radius: 5px;
	font-size: 0.85em;
	margin: 0 0.5em 0.5em 0;
	padding: 2px 5px;
}
.academyTagsContainer button:active {
	border: none;
}
.carouselImg {
	width: 100%;
}
.duration {
	background-color: #00000050;
	bottom: 0;
	color: white;
	padding: 0 0.5em;
	position: absolute;
	right: 0;
}
.gridRowItem:hover {
	transform: scale3d(1.05, 1.05, 1.05);
	transform-origin: center;
	transition: transform 0.2s;
}
.rowHeader {
	display: flex;
	justify-content: space-between;
}
span.badge {
	background-color: gray !important;
	margin: 0 0.25em;
}