.academyTagsContainer {
	display: flex;
	flex-wrap: wrap;
}
.avatar {
	border: solid white 2px;
	border-radius: 25px;
	height: 50px;
	max-height: 50px;
}
.body {
	color: #2d2d2d;
}
button.btn:focus {
	outline: none;
	box-shadow: 0 0 0 1px rgba(170, 170, 170, 0.75)
}
.capInitial {
	text-transform: capitalize;
}
.card {
	border: 1px solid rgba(0,0,0,.125) !important;
}
.card-img-top {
	position: relative;
}
.card-img-top img {
	width: 100%
}
.duration {
	background-color: #00000050;
	bottom: 0;
	color: white;
	padding: 0 0.5em;
	position: absolute;
	right: 0;
}
.fontBlack {
	font-family: 'CNNSansBlack';
}
.fontMedium {
	font-family: 'CNNSansMedium';
}
.gridRowCollectionSettings {
	margin: 0.5em;
	min-width: 150px;
	position: relative;
	user-select: none;
	width: 150px;
}
.gridRowCollection img {
	border-radius: 5px;
	width: 100%;
}
.gridRowItems {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: scroll;
	padding-bottom: 1em;
	position: relative;
}
.gridRowItem {
	margin: 0.5em;
	min-width: 250px;
	position: relative;
	user-select: none;
	width: 250px;
}
.gridRowItem a {
	color: inherit;
	text-decoration: none;
}
.gridRowItem .card {
	height: 100%;
}
.gridRowItem .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5em;
}
.imgFallback {
	align-items: center;
	background-color: #F0F0F0;
	color: #FFFFFF;
	display: flex;
	height: 140px;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
}
.imgFallback img {
	filter: saturate(0) contrast(0.3) brightness(2);
	transform: scale(0.5);
}
.instructorsContainer {
	display: flex;
	flex-wrap: wrap;
	margin-left: 8px;
	margin-top: 10px;
}
.instructorsContainer .avatar {
	margin-top: -8px;
	margin-left: -10px;
}
.scrollButton {
	align-items: center;
	background-color: #00000050;
	border: none;
	color: white;
	display: flex;
	height: 100% !important;
	justify-content: center;
	position: absolute;
	top: 0;
	transition: opacity 0.3s;
	width: 2em;
	z-index:10000;
}
.scrollButtonLeft {
	left: 0;
}
.scrollButtonRight {
	right: 0;
}
.scrollButtonsContainer {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}