{{> theme_academy/head }}
	<body {{{ bodyattributes }}} style="background-color: black;">
		{{> theme_academy/loader }}
		<script>
			cnnAcademy.templateType = 'front_page_logged_out';
		</script>
		<div id="page-wrapper" class="d-print-block">
			{{{ output.standard_top_of_body_html }}}
			{{> theme_academy/navbar }}
			{{> theme_academy/nav_drawer }}
			<div id="academyContent"></div>
			<div id="academyFooter"></div>
			<div class="d-none">{{{ output.main_content }}}</div>
		</div>
		{{{ output.standard_end_of_body_html }}}
	</body>
</html>