<script>
	const zoomIframe = document.getElementById('zoom_iframe');
	if (zoomIframe) {
		const src = 'https://academy.cnntoolbox.com:443/public?name={{user_name_for_zoom_iframe}}';
		zoomIframe.src = src;
	}
</script>