<style>
	@keyframes flip {
		0% {
			transform: rotate3D(0, 0, 0, 0deg);
			
		}
		50% {
			transform: rotate3D(1, 0, 0, 180deg);
		}
		100% {
			transform: rotate3D(0, 0, 1, 180deg);
		}
	}
	#academyLoader {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		left: 0;
		perspective: 1000px;
		position: fixed;
		top: 0;
		width: 100vw;
	}
	#loaderBox {
		animation: flip 1.5s infinite;
		background-color: #CA0000;
		height: 100px;
		width: 100px;
	}
</style>
<script>
	const clearLoader = () => {
		const loader = document.getElementById('academyLoader');
		const wrapper = document.getElementById('page-wrapper');
		setTimeout(() => {
			if (loader) loader.classList.add('d-none');
			if (wrapper) wrapper.style.visibility = 'visible';
		}, 250)
	}
	if (document.readyState !== 'loading'){
		clearLoader();
	} else {
		document.addEventListener('DOMContentLoaded', clearLoader);
	}
</script>
<div id="academyLoader">
	<div id="loaderBox"></div>
</div>