<script>
	const moodleContext = {{{cnn_academy_json}}};
	const navbarConfig = {{{nav_config}}};
	cnnAcademy = {...cnnAcademy, ...moodleContext, navbarConfig };
</script>

<div id="academyNavbar"></div>

<script src={{js_src}} type="text/javascript"></script>
