<script>
	cnnAcademy.navbarConfig = {{{nav_config}}};
	cnnAcademy.rows = {{{rows_json}}};
	cnnAcademy.carouselItems = {{{carousel_json}}};
</script>

<div id="academyNavbar"></div>

<script src={{js_src}} type="text/javascript"></script>
