<input type="hidden" name="{{name}}" value="{{value}}" id="{{id}}">
<div id="academyGridApp"></div>
<script>
	cnnAcademy.avatarUrls = {{{avatarUrlsJson}}}
	cnnAcademy.courses = {{{coursesJson}}};
	cnnAcademy.settingsInputId = "{{{id}}}";
	cnnAcademy.thumbUrls = {{{thumbUrlsJson}}};
</script>
