{{> theme_academy/head }}
	<body {{{ bodyattributes }}} >
		{{> theme_academy/loader }}
		{{> core/local/toast/wrapper}}
		<script>
			cnnAcademy.templateType = 'settings';
			cnnAcademy.translationReady = false;
		</script>
		<div
			id="page-wrapper"
			class="d-print-block"
		>
			{{{ output.standard_top_of_body_html }}}
			{{> theme_academy/navbar }}
			{{> theme_academy/nav_drawer }}
			<div
				id="page"
				class="container-fluid d-print-block loggedIn fadeIn d-none"
			>
				{{{ output.full_header }}}
				<div id="page-content" class="row py-3 d-print-block ">
					<div id="region-main-box" class="col-12">
						{{#hasregionmainsettingsmenu}}
							<div
								id="region-main-settings-menu"
								class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}"
							>
								<div> {{{ output.region_main_settings_menu }}} </div>
							</div>
						{{/hasregionmainsettingsmenu}}
						<section
							id="region-main"
							class="{{#hasblocks}}has-blocks{{/hasblocks}} mb-3"
							aria-label="{{#str}}content{{/str}}"
						>
							{{#hasregionmainsettingsmenu}}
								<div class="region_main_settings_menu_proxy"></div>
							{{/hasregionmainsettingsmenu}}
							{{{ output.main_content }}}
							<div id="academyContent"></div>
						</section>
						{{#hasblocks}}
							<section
								data-region="blocks-column"
								class="d-print-none"
								aria-label="{{#str}}blocks{{/str}}"
							>
								{{{ sidepreblocks }}}
							</section>
						{{/hasblocks}}
					</div>
				</div>
			</div>
			{{{ output.standard_after_main_region_html }}}
			<div id="academyFooter"></div>
		</div>
		{{{ output.standard_end_of_body_html }}}
	</body>
</html>
{{> theme_academy/shared_js }}
