.featureRow {
	padding: 100px 2em;
}
.featureRow:nth-child(even) {
	background-color: white;
}
.featureRow:nth-child(odd) {
	background-color: #f1f1f2;
}
.featureRowImage {
	border-radius: 40px;
	height: 200px;
}
.featureRowItem {
	text-align: center;
}
@media (min-width: 768px) {  
	.carouselAdjacentContent{
		padding-top: 28.9%;
	}
	.featureRowItem:not(:first-child) {
		border-left: solid #CC0000 2px;
	}
}